*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(224, 206, 207);
  font-family: "Roboto", sans-serif;
}

:root {
  /*setup variable*/
  --green: #54b192;
  --green-l: #a4cec0;
  --gray: #3f3d56;
  --smooth: all 0.3s ease-in;
}

html {
  /*smooth scroll*/
  scroll-behavior: smooth;
}

img {
  /* hình ảnh responsive và không bị bể  */
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  text-align: center;
  color: #ffff;
  background-color: var(--gray);
  padding: 0.8rem 2.5rem; /*1rem = 16px*/
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button:hover {
  background-color: var(--green-l);
  transition: var(--smooth);
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  margin-bottom: -100px;
  background-color: #807da0;
  z-index: 5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar__img {
  width: 57px;
  height: 57px;
  object-fit: cover;
}

.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: var(--gray);
  z-index: 5; /*menu này nằm trên tất cả element khác*/
  transition: var(--smooth);
}

.navbar__link {
  list-style: none;
  margin: 55px;
}
.navbar__link a {
  text-decoration: none; /*xóa đường viền dưới mỗi chữ*/
  color: #ffff;
  font-weight: 300;
  transition: var(--smooth);
  text-transform: uppercase;
  font-weight: 900;
}

.navbar__link a:hover {
  color: var(--green);
  transition: var(--smooth);
}

.navbar__btn {
  font-size: 1rem;
  margin-left: 45px;
  background-color: var(--green);
  text-transform: uppercase;
  font-weight: 600;

}

@media (min-width: 62em) {
  /* chọn độ phân giải cho màn hình và style element theo chế độ đó*/
  .navbar__links {
    position: initial;
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar__link a {
    color: var(--gray);
  }
  .navbar__btn {
    background-color: var(--gray);
  }
}

#banner {
  position: relative;
  height: 100vh; /* view height lệ thuộc vào chiều cao của màn hình thiết bị*/
  display: flex;
  align-items: center;
}

.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 40%;
  transform: translateX(-114%);
  margin-top: 15%;
}

.banner__heading {
  max-width: 300px;
  margin-top: -110px;
  text-align: center;
  color: var(--gray);
  margin-left: 70%;
}

.banner__heading h1 {
  font-size: 2.25rem;
  padding-top: 4em;
  margin-bottom: 0.8em;
}

.banner__heading p {
  font-weight: 300;
  line-height: 2em; /* khoảng cách dòng*/
  margin-bottom: 1.5em;
}

.banner__btn {
  font-size: 1rem;
}

.banner__socials {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly; /*khoảng cách được chia đều*/
  font-size: 1.5rem;
}

.banner__socials a {
  color: var(--gray);
  transition: var(--smooth);
}

.banner__socials a:hover {
  color: var(--green-l);
  transition: var(--smooth);
}

/* === Things === */
#things {
  position: relative;
  overflow-x: hidden; /*giấu icon */
  margin-top: 15em;
}

#things h2 {
  font-size: 2.25rem;
  padding-top: 4em;
  margin-bottom: 2.5em;
  text-align: center;
  color: var(--gray);

}


.things__item {
  margin: 3em 0;
}

.things__item img {
  padding-bottom: 4em;
}

.things__item--heading {
  text-align: center;
  color: var(--gray);
}

.things__item--heading p {
  font-weight: 300;
  line-height: 2em;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 1em;
}

@media (min-width: 62em) {
  .things__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .things__item img {
    width: 40%;
    padding-bottom: 0;
  }

  .things__item--heading {
    width: 45%;
    text-align: initial;
  }

  .things__item--heading p {
    max-width: 500px;
    margin: 0;
    

  }

  .things__item:nth-child(odd) img {
    /* Psuedo class cho phép chọn các class có vị trí lẻ để style*/
    order: 2;
    width: 40%;
    padding-bottom: 0;


  }

  .things__item--heading:nth-child(even) {
    order: 1;
    width: 45%;
    text-align: initial;
    margin-right: -50px;

  }
}

/* === Works ===  */
#works {
  padding-top: 10em;
  position: relative;
  overflow-x: hidden;
}

#works h2 {
  color: var(--gray);
  font-size: 2.25rem;
  padding-top: 4em;
  margin-bottom: 0.8em;
  text-align: center;
}

.works__img--single {
  margin: 2em 0;
}

.works__img--single:nth-child(3) {
  padding-top: -5em;
}

.works__btn {
  text-align: center;
  margin-top: 3em;
}

.works__btn button {
  font-size: 1rem;
}

@media (min-width: 62em) {
  #works h2 {
    margin-bottom: 3em;
  }
  .works__img {
    display: flex;
    flex-wrap: wrap; /*tự động chèn ảnh vừa kích thước khung hình*/
    justify-content: center;
  }
  .works__img--single {
    margin: 0 5em;
    width: 35%;
  }
  .works__img--single:nth-child(odd) {
    padding-top: 5em;
  }
  .works__img--single:nth-child(3) {
    margin-top: 0;
  }
}

/* === Footer ===  */
#footer {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  
}

.footer__img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(25%);
  width: 50%;
}

.footer__heading {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: var(--gray);
}

.footer__contact {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

.footer__contact a {
  color: var(--gray);
  text-decoration: none;
}

@media (min-width: 62em) {
  .footer__img {
    top: -25%;
    right: 0;
    margin-right: 15%;
    transform: translateY(120%);
    width: 40%;
  }
  .footer__heading {
    text-align: initial;
    margin-left: 0px;
  }
  .footer__contact {
    display: flex;
    justify-content: space-between;
  }
}
